setup/video_system/server/n8n/n8n_workflows/Dgk7CxGWHSHsNcoT.json
{
  "updatedAt": "2026-03-04T20:58:43.487Z",
  "createdAt": "2025-11-16T12:43:55.691Z",
  "id": "Dgk7CxGWHSHsNcoT",
  "name": "atem",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "program_name"
            },
            {
              "name": "preview_name"
            },
            {
              "name": "toggle_black"
            },
            {
              "name": "enable_stream"
            },
            {
              "name": "enable_recording"
            },
            {
              "name": "execute_macro"
            },
            {
              "name": "recording_filename"
            },
            {
              "name": "toggle_program"
            },
            {
              "name": "program_name_with_transition"
            },
            {
              "name": "usk_on_air_toggle"
            },
            {
              "name": "usk_set_fill_source"
            },
            {
              "name": "usk_on_air_enable"
            },
            {
              "name": "mediaplayer_set_still"
            },
            {
              "name": "set_tbar_to"
            },
            {
              "name": "set_mix1_on"
            },
            {
              "name": "set_projector_aux_to"
            },
            {
              "name": "set_program_ssrc_aux_to"
            },
            {
              "name": "turn_all_keys_off"
            },
            {
              "name": "set_program_raw_aux_to"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1232,
        -144
      ],
      "id": "4126c484-b27d-4114-8558-9f0e424ae882",
      "name": "control"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('readconfig').item.json.config.companion_host }}/api/custom-variable/command/value",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $json.command_name }},{{ new Date().getTime() }},{{ $json.command_value }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        160,
        -240
      ],
      "id": "d20b4ed8-25aa-4c28-9364-d2d66af5492e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -576,
        -240
      ],
      "id": "c23a7e39-ad71-457b-bb53-e7ea17819a77",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "546f0ce0-2cc3-4cf4-a638-c289f3aad06a",
              "name": "program_name",
              "value": "",
              "type": "string"
            },
            {
              "id": "3550ce3e-200f-44f4-9699-95474c89d6a3",
              "name": "preview_name",
              "value": "",
              "type": "string"
            },
            {
              "id": "669ecb9c-2533-4a9e-89fc-faf8b33efe88",
              "name": "toggle_black",
              "value": "",
              "type": "string"
            },
            {
              "id": "5b27c99b-1d4b-443c-8814-9d9e743b83a2",
              "name": "enable_stream",
              "value": "",
              "type": "string"
            },
            {
              "id": "e499872c-5224-4082-b09c-e1708830a828",
              "name": "enable_recording",
              "value": "",
              "type": "string"
            },
            {
              "id": "fb42aa6c-3fbd-4846-aa0c-c0ec4cea47f2",
              "name": "recording_filename",
              "value": "",
              "type": "string"
            },
            {
              "id": "57d2c364-ed91-4043-84c4-a3778b389983",
              "name": "execute_macro",
              "value": "",
              "type": "string"
            },
            {
              "id": "a1a3602d-c080-4acf-a1e1-a06d6ae80a06",
              "name": "toggle_program",
              "value": "",
              "type": "string"
            },
            {
              "id": "75911433-d71c-4f36-86d4-a736633aa2cb",
              "name": "program_name_with_transition",
              "value": "",
              "type": "string"
            },
            {
              "id": "e27b3e31-0c89-4d6f-9f41-a5a6f9f919c1",
              "name": "usk_on_air_toggle",
              "value": "",
              "type": "string"
            },
            {
              "id": "08b3d404-ff7a-42ed-a5d8-a173b5e0cbfe",
              "name": "usk_set_fill_source",
              "value": "",
              "type": "string"
            },
            {
              "id": "ebb00ce9-fa36-43e4-9c57-9e53db9fa869",
              "name": "usk_on_air_enable",
              "value": "",
              "type": "string"
            },
            {
              "id": "eae08ea1-7095-42bc-8141-54620ecacbab",
              "name": "mediaplayer_set_still",
              "value": "",
              "type": "string"
            },
            {
              "id": "3cc98e43-d8c1-4255-96f9-ad65db0a56d7",
              "name": "set_tbar_to",
              "value": "",
              "type": "string"
            },
            {
              "id": "31d22ffa-3961-4866-8424-30d88c193ed5",
              "name": "set_mix1_on",
              "value": "",
              "type": "string"
            },
            {
              "id": "c6f5aaf1-fbe0-4f81-ab32-9aafe6ad3d53",
              "name": "set_projector_aux_to",
              "value": "",
              "type": "string"
            },
            {
              "id": "1f51c780-8d2c-479d-9d0b-39da96172fec",
              "name": "set_program_ssrc_aux_to",
              "value": "",
              "type": "string"
            },
            {
              "id": "7cbda523-8bb4-4f85-9aaf-5e5fbe9a84f2",
              "name": "turn_all_keys_off",
              "value": "",
              "type": "string"
            },
            {
              "id": "76c9dc8c-883f-4d93-a6de-d68b5065ff24",
              "name": "set_program_raw_aux_to",
              "value": "BLACK",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1232,
        -336
      ],
      "id": "804c9296-639f-41cb-8883-82b5f6589ae5",
      "name": "Edit Fields1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1456,
        -336
      ],
      "id": "5ef9d7a2-4fae-4e5f-bbdd-9a43e1ed67f6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1008,
        -240
      ],
      "id": "b9202a59-a7b7-415d-846b-89a4cdbba427",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CgSbDSo1mHpiRCnr",
          "mode": "list",
          "cachedResultUrl": "/workflow/CgSbDSo1mHpiRCnr",
          "cachedResultName": "readconfig"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -784,
        -176
      ],
      "id": "83ccc116-8afe-47a5-8146-02e7bbf46782",
      "name": "readconfig",
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "// @TODO synchronize parameter names\nconst {\n    program_name,\n    preview_name,\n    enable_stream,\n    enable_recording,\n    execute_macro,\n  recording_filename,\n  toggle_black,\n  toggle_program, // Sets pgm to this input, or if it is that already then to cam.\n    set_projector_aux_to,\n  set_program_ssrc_aux_to,\n  set_program_raw_aux_to,\n  program_name_with_transition,\n  usk_set_fill_source,\n  usk_on_air_toggle,\n  usk_on_air_enable,\n  mediaplayer_set_still,\n  set_tbar_to,\n  set_mix1_on\n\n} = $input.item.json;\n\nlet command_name = null;\nlet command_value = null;\n\nif ((program_name ?? '') !== '' ) {\n    command_name = 'set_program_id_to';\n    command_value = $json.config.atem_map[program_name];\n}else if ((preview_name  ?? '') !== '' ) {\n    command_name = 'set_preview_id_to';\n    command_value = $json.config.atem_map[preview_name];\n}else if ((enable_stream  ?? '') !== '' ) {\n    command_name = 'enable_stream';\n    command_value = enable_stream==1?1:0;\n}else if ((enable_recording  ?? '')!== '' ) {\n    command_name = 'enable_recording';\n    command_value = enable_recording==1?1:0;\n}else if ((execute_macro ?? '') !== '' ) {\n    command_name = 'execute_macro';\n    command_value =execute_macro;\n}else if ((recording_filename ?? '') !== '' ) {\n    command_name = 'set_recording_filename';\n    command_value =recording_filename;\n}else if ((toggle_black  ?? '') !== '' ) {\n    command_name = 'toggle_black';\n    command_value =toggle_black==1?1:0;\n} else if ((toggle_program  ?? '') !== '' ) {\n    command_name = 'toggle_program';\n    command_value = $json.config.atem_map[toggle_program];\n}else if ((set_projector_aux_to  ?? '') !== '' ) {\n    command_name = 'set_projector_aux_to';\n    command_value = $json.config.atem_map[set_projector_aux_to];\n}else if ((set_program_ssrc_aux_to  ?? '') !== '' ) {\n    command_name = 'set_program_ssrc_aux_to';\n    command_value = $json.config.atem_map[set_program_ssrc_aux_to];\n} else if ((program_name_with_transition  ?? '') !== '' ) {\n    command_name = 'set_program_id_with_transition';\n    command_value = $json.config.atem_map[program_name_with_transition];\n}else if ((set_program_raw_aux_to  ?? '') !== '' ) {\n    command_name = 'set_program_raw_aux_to';\n    command_value = $json.config.atem_map[set_program_raw_aux_to];\n}else if ((usk_set_fill_source  ?? '') !== '' ) {\n    command_name = 'usk_set_fill_source';\n    command_value = $json.config.atem_map[usk_set_fill_source];\n}else if ((usk_on_air_toggle  ?? '') !== '' ) {\n    command_name = 'usk_on_air_toggle';\n    command_value = usk_on_air_toggle;\n}else if ((usk_on_air_enable  ?? '') !== '' ) {\n    command_name = 'usk_on_air_enable';\n    command_value = usk_on_air_enable;\n}else if ((mediaplayer_set_still  ?? '') !== '' ) {\n    command_name = 'mediaplayer_set_still';\n    command_value = mediaplayer_set_still;\n}else if ((set_tbar_to  ?? '') !== '' ) {\n    command_name = 'set_tbar_to';\n    command_value = set_tbar_to;\n}else if ((set_mix1_on  ?? '') !== '' ) {\n    command_name = 'set_mix1_on';\n    command_value = set_mix1_on;\n}\n\n\nreturn {\n    ...$input.item,\n    json: {\n        command_name,\n        command_value\n    },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -240
      ],
      "id": "3552b4cb-10cf-4982-86fe-dc39052c87c0",
      "name": "transform parameters to command"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "E0yl55s1YkCD2LNx",
          "mode": "list",
          "cachedResultUrl": "/workflow/E0yl55s1YkCD2LNx",
          "cachedResultName": "log"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "type": "notice",
            "message": "=command: {{ $json.command_name }}, value: {{ $json.command_value }}",
            "execution_id": "={{ $execution.id }}:{{ $workflow.name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "private_message",
              "displayName": "private_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        16,
        -432
      ],
      "id": "7fef0fbe-4a9a-4b1a-be8f-190875033459",
      "name": "Call 'log'"
    },
    {
      "parameters": {
        "content": "# Turn keys off",
        "height": 208,
        "width": 896
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -128,
        -848
      ],
      "id": "b0f6fab5-a657-475a-aaa7-458af61261c6",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Dgk7CxGWHSHsNcoT",
          "mode": "list",
          "cachedResultUrl": "/workflow/Dgk7CxGWHSHsNcoT",
          "cachedResultName": "atem"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "usk_on_air_enable": "1,0"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "program_name",
              "displayName": "program_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "preview_name",
              "displayName": "preview_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "toggle_black",
              "displayName": "toggle_black",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "enable_stream",
              "displayName": "enable_stream",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "enable_recording",
              "displayName": "enable_recording",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "execute_macro",
              "displayName": "execute_macro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "recording_filename",
              "displayName": "recording_filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "toggle_program",
              "displayName": "toggle_program",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "program_name_with_transition",
              "displayName": "program_name_with_transition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "usk_on_air_toggle",
              "displayName": "usk_on_air_toggle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "usk_set_fill_source",
              "displayName": "usk_set_fill_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "usk_on_air_enable",
              "displayName": "usk_on_air_enable",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "mediaplayer_set_still",
              "displayName": "mediaplayer_set_still",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "set_tbar_to",
              "displayName": "set_tbar_to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -64,
        -800
      ],
      "id": "2f3583a9-7393-4df0-9097-ebe901a84d70",
      "name": "Disable key 1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Dgk7CxGWHSHsNcoT",
          "mode": "list",
          "cachedResultUrl": "/workflow/Dgk7CxGWHSHsNcoT",
          "cachedResultName": "atem"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "usk_on_air_enable": "4,0"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "program_name",
              "displayName": "program_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "preview_name",
              "displayName": "preview_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "toggle_black",
              "displayName": "toggle_black",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "enable_stream",
              "displayName": "enable_stream",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "enable_recording",
              "displayName": "enable_recording",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "execute_macro",
              "displayName": "execute_macro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "recording_filename",
              "displayName": "recording_filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "toggle_program",
              "displayName": "toggle_program",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "program_name_with_transition",
              "displayName": "program_name_with_transition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "usk_on_air_toggle",
              "displayName": "usk_on_air_toggle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "usk_set_fill_source",
              "displayName": "usk_set_fill_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "usk_on_air_enable",
              "displayName": "usk_on_air_enable",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "mediaplayer_set_still",
              "displayName": "mediaplayer_set_still",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "set_tbar_to",
              "displayName": "set_tbar_to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        608,
        -800
      ],
      "id": "2a130c18-d116-46bc-872a-36c66055d86f",
      "name": "Disable key 4",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Dgk7CxGWHSHsNcoT",
          "mode": "list",
          "cachedResultUrl": "/workflow/Dgk7CxGWHSHsNcoT",
          "cachedResultName": "atem"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "usk_on_air_enable": "3,0"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "program_name",
              "displayName": "program_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "preview_name",
              "displayName": "preview_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "toggle_black",
              "displayName": "toggle_black",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "enable_stream",
              "displayName": "enable_stream",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "enable_recording",
              "displayName": "enable_recording",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "execute_macro",
              "displayName": "execute_macro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "recording_filename",
              "displayName": "recording_filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "toggle_program",
              "displayName": "toggle_program",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "program_name_with_transition",
              "displayName": "program_name_with_transition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "usk_on_air_toggle",
              "displayName": "usk_on_air_toggle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "usk_set_fill_source",
              "displayName": "usk_set_fill_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "usk_on_air_enable",
              "displayName": "usk_on_air_enable",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "mediaplayer_set_still",
              "displayName": "mediaplayer_set_still",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "set_tbar_to",
              "displayName": "set_tbar_to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        384,
        -800
      ],
      "id": "6e7cd9b3-a4e5-42c0-89c9-e39664ebc7b4",
      "name": "Disable key 3",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Dgk7CxGWHSHsNcoT",
          "mode": "list",
          "cachedResultUrl": "/workflow/Dgk7CxGWHSHsNcoT",
          "cachedResultName": "atem"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "usk_on_air_enable": "2,0"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "program_name",
              "displayName": "program_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "preview_name",
              "displayName": "preview_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "toggle_black",
              "displayName": "toggle_black",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "enable_stream",
              "displayName": "enable_stream",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "enable_recording",
              "displayName": "enable_recording",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "execute_macro",
              "displayName": "execute_macro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "recording_filename",
              "displayName": "recording_filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "toggle_program",
              "displayName": "toggle_program",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "program_name_with_transition",
              "displayName": "program_name_with_transition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "usk_on_air_toggle",
              "displayName": "usk_on_air_toggle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "usk_set_fill_source",
              "displayName": "usk_set_fill_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "usk_on_air_enable",
              "displayName": "usk_on_air_enable",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "mediaplayer_set_still",
              "displayName": "mediaplayer_set_still",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "set_tbar_to",
              "displayName": "set_tbar_to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        160,
        -800
      ],
      "id": "3d5cd98d-5749-4a65-95fc-458827cc22f7",
      "name": "Disable key 2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "30dbb2a9-83b1-4c55-ab1d-e5ccc48d6bd2",
              "leftValue": "={{ $json.turn_all_keys_off }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -368,
        -240
      ],
      "id": "f55103b9-4501-407f-8109-819a1d2c5289",
      "name": "Turn keys off?"
    }
  ],
  "connections": {
    "control": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Turn keys off?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "readconfig",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "readconfig": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "transform parameters to command": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'log'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disable key 1": {
      "main": [
        [
          {
            "node": "Disable key 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disable key 3": {
      "main": [
        [
          {
            "node": "Disable key 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disable key 2": {
      "main": [
        [
          {
            "node": "Disable key 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Turn keys off?": {
      "main": [
        [],
        [
          {
            "node": "transform parameters to command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "E0yl55s1YkCD2LNx",
    "timeSavedMode": "fixed",
    "executionTimeout": 300,
    "saveManualExecutions": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "control": [
      {
        "json": {
          "program_name": null,
          "preview_name": null,
          "toggle_black": null,
          "enable_stream": null,
          "enable_recording": null,
          "execute_macro": null,
          "recording_filename": null,
          "toggle_program": null,
          "program_name_with_transition": null,
          "usk_on_air_toggle": null,
          "usk_set_fill_source": null,
          "usk_on_air_enable": null,
          "mediaplayer_set_still": null,
          "set_tbar_to": null,
          "set_mix1_on": null,
          "set_projector_aux_to": null,
          "set_program_ssrc_aux_to": null,
          "turn_all_keys_off": null,
          "set_program_raw_aux_to": "PROGRAM"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "95f1ad1e-06b6-45eb-b64c-5b6b526d4668",
  "activeVersionId": "95f1ad1e-06b6-45eb-b64c-5b6b526d4668",
  "versionCounter": 273,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-01-28T09:50:30.201Z",
      "createdAt": "2026-01-28T09:50:30.201Z",
      "role": "workflow:owner",
      "workflowId": "Dgk7CxGWHSHsNcoT",
      "projectId": "NBttNnd6CVeZWrwI",
      "project": {
        "updatedAt": "2026-01-28T08:29:07.278Z",
        "createdAt": "2026-01-28T08:04:49.772Z",
        "id": "NBttNnd6CVeZWrwI",
        "name": "Calvary Paphos <calvarycypruscalendar@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "d84e1e89-6472-46a2-881c-0780a65eac38"
      }
    }
  ]
}