setup/video_system/server/n8n/n8n_workflows/vGC4rpFc0kzVwrtT.json
{
  "updatedAt": "2026-03-04T20:58:43.060Z",
  "createdAt": "2025-11-23T10:16:33.518Z",
  "id": "vGC4rpFc0kzVwrtT",
  "name": "browser",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "url"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1232,
        -80
      ],
      "id": "9bf12c70-9049-4928-bf32-ea8b2b03722f",
      "name": "control"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -560,
        -176
      ],
      "id": "3cc087fd-67c8-4163-91d3-891efd9a4800",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1456,
        -272
      ],
      "id": "711af247-019a-4650-9e1b-1c32ddbef375",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1008,
        -176
      ],
      "id": "97b07ec7-90a8-4edd-87d3-65de4271743f",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a96f4072-8e0a-4bfc-9b46-7ea4699efa96",
              "name": "url",
              "value": "https://wikipedia.org",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1232,
        -272
      ],
      "id": "b3af309b-0a36-452b-b852-0e1db862be3b",
      "name": "debug"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CgSbDSo1mHpiRCnr",
          "mode": "list",
          "cachedResultUrl": "/workflow/CgSbDSo1mHpiRCnr",
          "cachedResultName": "readconfig"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -784,
        -112
      ],
      "id": "71254a6a-449e-4bdd-9573-d4a355c37468",
      "name": "readconfig",
      "executeOnce": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.config.browser_endpoint }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -256,
        -176
      ],
      "id": "dc1779b9-fddf-43da-8ca8-72b643d036f4",
      "name": "open url"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "E0yl55s1YkCD2LNx",
          "mode": "list",
          "cachedResultUrl": "/workflow/E0yl55s1YkCD2LNx",
          "cachedResultName": "log"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "type": "notice",
            "message": "=command: {{ $json.url }}",
            "execution_id": "={{ $execution.id }}:{{ $workflow.name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "private_message",
              "displayName": "private_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -256,
        -336
      ],
      "id": "c6b42c13-6788-40d7-991c-f2944f6c6495",
      "name": "Call 'log'"
    }
  ],
  "connections": {
    "control": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "open url",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'log'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "debug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "readconfig",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "debug": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "readconfig": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "E0yl55s1YkCD2LNx",
    "timeSavedMode": "fixed"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "control": [
      {
        "json": {
          "url": "/config/html/blacklog.html?text=HELLO"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "9d589a84-8c74-4d3b-95b5-e16696ed96aa",
  "activeVersionId": "9d589a84-8c74-4d3b-95b5-e16696ed96aa",
  "versionCounter": 136,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-01-28T09:50:30.201Z",
      "createdAt": "2026-01-28T09:50:30.201Z",
      "role": "workflow:owner",
      "workflowId": "vGC4rpFc0kzVwrtT",
      "projectId": "NBttNnd6CVeZWrwI",
      "project": {
        "updatedAt": "2026-01-28T08:29:07.278Z",
        "createdAt": "2026-01-28T08:04:49.772Z",
        "id": "NBttNnd6CVeZWrwI",
        "name": "Calvary Paphos <calvarycypruscalendar@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "d84e1e89-6472-46a2-881c-0780a65eac38"
      }
    }
  ]
}